
.page-header1 {
//    background-color:rgba(237, 225 ,244,0.5);
    background-color:#B6BDD2;
    position: center;
    font-size: 36px;    
    text-align: Center;
}

    body{
    width:100%;
    overflow:hidden;
    overflow-y: auto
  }
    

.title {
    color: #444;
    font-size: 56px;
    opacity: 1;
}

#logo-container {
    background-color:#B6BDD2;
    position: absolute;
    top:0px;
    z-index: 2;
    width: 145px;
    border-radius:  0 0 6em 0 ;
}

#logo {
    //background-color:rgba(237, 225 ,244,0.5);
    background-color:#B6BDD2;
    width:140px;
    height:135px;   
    vertical-align: middle;
    text-align: center;
    z-index: 3;
    border-radius: 100%;
}

#logo img {
    height :100px;
    top: 7px;
    position: relative;
}

.nav-pills {
    z-index: 0;
    height: 60px; 
    align-items: center;
    max-width: 80%;    
}

#tab-container  {
    left: 200px;
    position:relative;
}