
.page-header1 {
//    background-color:rgba(237, 225 ,244,0.5);
    background-color:#9CB1F7;
    position: center;
    font-size: 36px;    
    text-align: Center;
}

body {
    //background-image: url(../Images/background.jpg);
    
}

.title {
    color: #444;
        
    opacity: 1;
}


.tilted-box {
    //background-color:rgba(237, 225 ,244,0.5);
    background-color:#9CB1F7;
    height: 160px;
    position: absolute;
    top: -95px;
    right: 60px;
    width: 200px;
    transform: rotate(45deg);
    z-index: 1;
}

#logo-container {
    background-color:#9CB1F7;
    position: absolute;
    top:0px;
    right: 0px;
    z-index: 2;
    width: 145px;
}

#logo {
    //background-color:rgba(237, 225 ,244,0.5);
    background-color:#9CB1F7;
    width:114px;
    height:114px;   
    vertical-align: middle;
    text-align: center;
    z-index: 3;
    border-radius: 100%;
}

#logo img {
    height :100px;
    top: 7px;
    position: relative;
}

.nav-pills {
    z-index: 0;
    height: 60px;
 
    align-items: center;
    max-width: 80%; 
}